<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>webapp</display-name>
    <servlet-name>webapp</servlet-name>
    <servlet-class>com.connect.webapp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>webapp</servlet-name>
    <url-pattern>/webapp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userdao</display-name>
    <servlet-name>Userdao</servlet-name>
    <servlet-class>payment.web.app.Userdao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userdao</servlet-name>
    <url-pattern>/Userdao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BankAcctUserDao</display-name>
    <servlet-name>BankAcctUserDao</servlet-name>
    <servlet-class>payment.web.app.BankAcctUserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankAcctUserDao</servlet-name>
    <url-pattern>/BankAcctUserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>payment.web.app.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
</web-app>